<div class="container" style="margin:36%;overflow:hidden;">
    <div class="row-sm-6-md-6-lg-6">
        <div class="col-sm-6-md-6-lg-6">
            <a href="/user/register">
                Register
            </a>
        </div>
    </div>
    <div class="row-sm-6-md-6-lg-6">
        <div class="col-sm-6-md-6-lg-6">
            <a href="/user/Login" >
                Login
            </a>
        </div>
    </div>

</div>